*,*::before,*::after{
    box-sizing:border-box;
}

body {
    padding: 0px;
    margin:0px;
    background-image: url("./img/Background.jpg");
    width:100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#top{
   padding-top: 15vh;
}
h1{
    border: 0%;
    margin: 0%;
    margin-left: 2vw;
    font-size: 15vh;
    color: aliceblue;
}
h2{
    border:0%;
    margin: 0%;
    margin-left: 2vw;
    font-size: 10vh;
    color: aliceblue;
}

div.container{
    width:30%;
    padding: 0%;
}
header{
    height: 4vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.151);
}
ul{
    list-style-type: none;
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    margin: 0%;
    top:2vh;
    padding-top: .8vh;
    size: 2rem;
}
li{
    display: inline;
}
img#gmail{
    width: 7vw;
  left:44.5vw;
   margin-top: -5vh;
   position: absolute;
}
img#insta{
    width: 07vw;
    position: absolute;
    left:67vw;
    top:28vh;
}
img#fb{
    width:05vw;
    position: absolute;
    left: 68vw;
}
img#git{
    width:5vw;
    position: absolute;
    left:23.5vw;
    top:55vh;
}
 @media only screen and (max-device-width:480px) and (min-device-width:320px)
 {
 h1{
    
    font-size:10vh;
    position: absolute;
    top:10vh;
 }
 h2{
     font-size:9vh;
     padding-top:2vh;
 }
 ul{
    list-style-type: none;
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    margin: 0%;
    top:2vh;
    padding-top: .8vh;
    size: 2vh;
 }
 li{
    font-size: 2vh;
 }
 img#gmail{
     width:15vw;
     position: absolute;
     top:43vh;
     left:12vw;
 }
 img#git{
     width:15vw;
     position: absolute;
     top:49vh;
     left:12vw;
 }
 img#insta{
     width:20vw;
     position: absolute;
     top:38vh;
 }
 img#fb{
     width: 16vw;
     position: absolute;
     top:49vh;
 }

 } 
 @media only screen and (max-device-width:1024px) and (min-device-width:768px) {
     h1{
         font-size: 9vh;
         position:absolute;
         top:12vh;
     }
     h2{
         font-size: 7vh;
         position: absolute;
         padding-top:2vh;
     }
     li{
         font-size: 2.5vh;
     }
     header{
         height: 5vh;
     }
     img#gmail{
        width:10vw;
        position: absolute;
        top:43vh;
        left:15vw;
    }
    img#git{
        width:10vw;
        position: absolute;
        top:49vh;
        left:15vw;
    }
    img#insta{
        width:13vw;
        position: absolute;
        top:38vh;
        left:25vw;
    }
    img#fb{
        width: 10vw;
        position: absolute;
        top:49vh;
        left:27vw;
    }
 }
     @media only screen and (device-width:540px){
        h1{
            font-size: 9vh;
            position:absolute;
            top:12vh;
        }
        h2{
            font-size: 7vh;
            position: absolute;
            padding-top:2vh;
        }
        li{
            font-size: 2.5vh;
        }
        header{
            height: 5vh;
        }
        img#gmail{
           width:10vw;
           position: absolute;
           top:43vh;
           left:15vw;
       }
       img#git{
           width:10vw;
           position: absolute;
           top:49vh;
           left:15vw;
       }
       img#insta{
           width:13vw;
           position: absolute;
           top:38vh;
           left:25vw;
       }
       img#fb{
           width: 10vw;
           position: absolute;
           top:49vh;
           left:27vw;
       }
     }
